@import "tailwindcss";

:root {
  --font-mono: var(--font-barlow-condensed), "Courier New", Courier, monospace;
  --bg-display: #09090c;
  --menu-bg: #09090c;
  --menu-inactive: #4a5568;
  --menu-active: #6b7c94;
  --text-white: #ffffff;
  --text-green: #0bce0e;
  --text-cyan: #0baacf;
  --highlight-magenta: #e165e0;
  --check-gray: #6b7c94;
}

body {
  background: var(--bg-display);
  color: var(--text-white);
  font-family: var(--font-barlow-condensed), "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

::selection {
  background: #e165e0;
  color: #000000;
}

::-moz-selection {
  background: #e165e0;
  color: #000000;
}
